/* --- ESTILOS DE TUS "CAJITAS" (Bordes blancos) --- */
.box {
    border: 1px solid #777;
    padding: 15px;
    border-radius: 10px; /* Bordes redondeados */
}

.box ul {
    padding-left: 30px;
}

.box ol {
    padding-left: 30px;
}